{% extends 'comics/base.html' %}

{% block content %}
<h1>Список комиксов</h1>
<div class="row">
    {% for comic in page_obj %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ comic.title }}</h5>
                    <p class="card-text">{{ comic.description|truncatewords:20 }}</p>
                    <a href="{% url 'comic_detail' comic.pk %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Комиксов пока нет. <a href="/admin">Добавьте их через админку</a>.</p>
    {% endfor %}
</div>
{% endblock %}